footer.footer.bg-dark.text-white.py-4
  .container
    .row
      .col-md-6
        p.mb-0= generalSetting.footerText
      .col-md-6.text-md-right
        p.mb-0
          | Follow us on 
          a.text-white.ml-2(href= generalSetting.twitter target="_blank")
            i.fab.fa-twitter
          a.text-white.ml-2(href= generalSetting.facebook target="_blank")
            i.fab.fa-facebook-f
          a.text-white.ml-2(href= generalSetting.instagram target="_blank")
            i.fab.fa-instagram