footer.footer
  .container
    .row
      .col-md-6
        p © 2024 PHONE SHOP - All rights reserved.
      .col-md-6.text-right
        p Follow us on 
          a(href='https://twitter.com') Twitter 
          | , 
          a(href='https://facebook.com') Facebook 
          | , and 
          a(href='https://instagram.com') Instagram
    