include ../mixins/sub-menu.pug

header.header 
    .container
        .row.align-items-center
            .col-md-2
                .inner-logo
                    a(href="/")
                        img(src= generalSetting.logo, alt="logo" )
            .col-md-10
                .inner-menu.container.align-right
                    ul.menu
                        li 
                            a(href="/") HOME 
                        li.sub-menu
                            -const pathProduct = "/products"
                            a(href=pathProduct) PRODUCT 
                            +sub-menu(productCategory, pathProduct)
                        li
                            form.form-inline(action=`search` method="get")
                                .input-group
                                    input.form-control(style="width= 200px" type="text" placeholder="Search" name="keyword" value= keyword)
                                    lable.form-table(for="")
                                    button.btn.btn-outline-secondary(type="submit") 
                                        i.fas.fa-search
                        if(user)
                            li 
                                a(href="/user/profile" class="btn btn-primary text-nowrap")= user.fullName
                            li
                                a(href="/user/logout" class= "btn btn-danger") Logout
                        else
                            li 
                                a(href="/user/login" class= "btn btn-primary") Login
                            li
                                a(href="/user/register" class= "btn btn-primary") Register
                        li
                            a(href="/chat")
                                i.fas.fa-comments.fa-2x
                        li
                            if(cart.totalProduct)
                                a(href="/cart")
                                    i.fas.fa-shopping-cart.fa-2x
                                    span  (#{cart.totalProduct})
                            else
                                a(href="/cart")
                                    i.fas.fa-shopping-cart.fa-2x
                                    span (0)