include ../mixins/sub-menu.pug

header.header 
    .container
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/")
                        img(src="/images/logo.png", alt="logo")

            .col-9 
                .inner-menu 
                    ul.menu  
                        li 
                            a(href="/") HOME 
                        li.sub-menu  
                            -const pathProduct = "/products"
                            a(href=pathProduct) PRODUCT 
                            +sub-menu(productCategory, pathProduct)  

                                 