extends ../../layouts/default.pug

block content
  h1.mb-4 Role Detail

  table.table.table-bordered
  .container
      .card.mb-4
        .row.gutters
          .col-md-2
          .col-md-5
            .card-body
              h2.card-title= record.title
              ul.list-group.list-group-flush
                if(record.description) 
                  li.list-group-item
                    strong Short Description: 
                    | !{record.description}
      .text-center
        a.btn.btn-primary(href=`${prefixAdmin}/roles/edit/${record.id}`) Edit
  
  script(src="/admin/js/script.js")