mixin sub-menu(items, path)
    ul
        each item in items
            li
                a(href=`${path}/${item.slug}`)= item.title
                if item.children && item.children.length
                    +sub-menu(item.children, path)