extends ../../layouts/normal.pug

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6
        p Please enter the OTP sent to your email to reset your password.
        form(action="/user/password/otp" method="POST")
            .form-group
                label(for="email") Email Address
                input#email.form-control(type="email" name="email" value=email)
            .form-group
                label(for="otp") OTP
                input#otp.form-control(type="text" name="otp" required placeholder="Enter OTP")
            .form-group
                button.btn.btn-primary(type="submit") Verify OTP