extends ../../layouts/normal.pug
include ../../mixins/alert.pug

block content
    +alert-error(5000)
    +alert-success(5000)
    .container.mt-5
        .row.justify-content-center
            .col-md-6
                h2 Forgot Password
                p Please enter your email address to receive a password reset link.
                form(action="/user/password/forgot" method="POST")
                    .form-group
                        label(for="email") Email Address
                        input#email.form-control(type="email" name="email" required placeholder="Enter your email")
                    .form-group
                        button.btn.btn-primary(type="submit") Submit Request