extends ../../layouts/normal.pug

block content 
    .container-fluid.d-flex.justify-content-center.align-items-center.min-vh-100
        .col-11.col-md-8.col-lg-6.col-xl-5
            .card.shadow
                .card-header.text-center
                    h3 Register Account
                .card-body
                    form(method='post' action="/user/register")
                        .mb-3
                            label(for='fullName') Full Name
                            input.form-control(type='text', name='fullName', id='fullName', placeholder='Enter your full name', required)
                        .mb-3
                            label(for='email') Email
                            input.form-control(type='email', name='email', id='email', placeholder='Enter your email', required)
                        .mb-3
                            label(for='password') Password
                            input.form-control(type='password', name='password', id='password', placeholder='Enter your password', required)
                        .mb-3
                            label(for='confirmPassword') Confirm Password
                            input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm your password', required)
                        button.btn.btn-primary.w-100(type='submit') Register
                .card-footer.text-center
                    p.mb-0 
                        | Already have an account? 
                        a(href="/user/login") Login now