extends ../../layouts/normal.pug
include ../../mixins/alert.pug

block content 
    +alert-success(3000)
    +alert-error(3000)
    .container.mt-5
        .row.justify-content-center
            .col-md-6
                .card.shadow
                    .card-header.bg-primary.text-white
                        h2 Register Account
                    .card-body
                        form(method='post' action="/user/register")
                            .form-group
                                label(for='fullName') Full Name
                                input.form-control(type='text', name='fullName', id='fullName', placeholder='Enter your full name')
                            .form-group
                                label(for='email') Email
                                input.form-control(type='email', name='email', id='email', placeholder='Enter your email')
                            .form-group
                                label(for='password') Password
                                input.form-control(type='password', name='password', id='password', placeholder='Enter your password')
                            .form-group
                                label(for='confirmPassword') Confirm Password
                                input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm your password')
                            button.btn.btn-primary.btn-block(type='submit') Register