extends ../../layouts/default.pug
include ../../mixins/alert.pug

block content
  .container.mt-5
    .row.mb-4
      .col-12
        .btn-group.d-flex.justify-content-center
            a.btn.btn-primary(href="/users/user-list") User List
            a.btn.btn-outline-primary(href="/users/friend-list") Friend List
            a.btn.btn-outline-primary(href="/users/sent-invitation") Sent Invitations
            a.btn.btn-outline-primary(href="/users/friend-request") Friend Requests
    .row
      each user in users
        .col-12.col-md-6.col-lg-3.mb-4
          .card.shadow-sm
            .card-body
              .d-flex.align-items-center.mb-3
                img.rounded-circle(src=user.avatar alt="Profile picture" style="width: 50px; height: 50px;")
                .ml-3
                  h5.mb-0= user.fullName
                  p.text-muted.mb-0 2 tuần
              .d-flex.justify-content-around.mt-3
                span.accepted-message.text-success.font-weight-bold.border.border-success.rounded.p-2.d-none(
                    sent-button data-user-id=user.id
                ) Sent Invitation 
                button.btn.btn-primary(my-id =user.id add-button) Add friend 
                button.btn.btn-danger.d-none(my-id =user.id cancel-button) Cancel
                
block script 
  script(src="/js/users.js")