.sider 
    .inner-manu     
        ul 
            li
               a(href=  prefixAdmin + "/dashboard") Dashboard
            li 
                a(href= prefixAdmin + "/products") Products 
            li
                a(href= prefixAdmin + "/products-category") Category of products 
